<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
        <link rel="stylesheet" href="/assert/style/main.css"/>
        <title>圣经Holy Bible</title>
    </head>
    <script>
        async function presentToast(value) {
          const toast = document.createElement('ion-toast');
          toast.message = value;
          toast.duration = 2000;

          document.body.appendChild(toast);
          return toast.present();
        }
        window.presentToast = presentToast;
    </script>
    <body>
        <ion-app>
            <ion-header class="headroom">
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button class="goBack" href="/bible/allroll/0">
                            <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-buttons slot="primary">
                        <ion-button>
                            <ion-menu-button auto-hide="false"></ion-menu-button>
                        </ion-button>
                    </ion-buttons>

                    <ion-title>圣经</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content fullscreen >
                <ion-list>
                    <!-- List Headers in Lists -->
                    <ion-list-header lines="inset">
                        <ion-label>
                            <span>第{{verse}}卷</span>-
                            <span>第{{chapter}}章</span>-
                            <span>共{{volume.ChapterNumber}}章</span>
                        </ion-label>
                        <ion-button>{{volume.FullName}}</ion-button>
                    </ion-list-header>
                    {{#each row}}
                    <ion-item button class="rollButton" data-value="{{this.ID}}">
                        <p><span>{{this.VerseSN}}. </span>{{this.Lection}}</p>
                        <ion-avatar slot="end">
                            <ion-icon size="large" name="heart-dislike"></ion-icon>
                        </ion-avatar>
                    </ion-item>
                    {{/each}}
                </ion-list>
            </ion-content>
            <ion-tab-bar slot="bottom" class="bottomRoom">
                <ion-tab-button tab="games">
                    <ion-label>喜欢</ion-label>
                    <ion-icon name="heart-circle-outline"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="back" class="backButton"  data-verse="{{verse}}" data-chapter="{{chapter}}">
                    <ion-label>上一章</ion-label>
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </ion-tab-button>
                <ion-tab-button tab="next" class="nextButton" data-verse="{{verse}}" data-chapter="{{chapter}}" data-chapterNum="{{volume.ChapterNumber}}">
                    <ion-label>下一章</ion-label>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-app>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <script defer="true" src="/script/home/bundle/chapter.js"></script>
</html>
